.bg-img{
  background-image: url(../src/assets/box.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  z-index: -1;
}

.slick-slide {
  padding: 20px;
}
.slick-list {
  padding: -20px;
}