.bg-img{
  background-image: url(../src/assets/box.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


.slick-slide {
  padding: 20px;
}
.slick-list {
  padding: -20px;
}